*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 1280px) {
  .container {
      max-width: 1250px;
  }
}
.header-div{
  height: 100px;
  background: #ffffff;
  border-bottom: 1px solid #cecece;
}
.left-header{
  float: left;
  padding-top: 36px;
}
.right-header{
  float: right;
  padding-top: 31px;
}
.right-header{
  margin-left: auto;
}
.left-img{
  height: 31px;
}
.right-img{
  height: 39px;
}
.banner-div{
  height: 837px;
  background: url('../assets/overlay-layer.png') no-repeat center fixed;
  background-size: cover;
}
.banner-div{
  color: #ffffff;
}
.banner-heading{
  padding-top: 215px;
  font-size: 94px;
  font-weight: bold;
  line-height: 100px;
}
.banner-short{
  padding-top: 15px;
  font-size: 28px;
  max-width: 680px;
  line-height: 38px;
}
.primary-button{
  background-color: #0076CE;
  border: 0;
  color: white;
  font-size: 18px;
}
.primary-button:hover{
  background-color: #3497e4;
  border: 0;
}
.banner-button{
  margin-top: 35px;
  padding: 16px 18px;
}
.description-section{
  padding-bottom: 112px;
}
.description-content{
  margin: 0 70px;
  padding-top: 115px;
}
.descrip-button{
  padding: 16px 18px;
}
.overview-descrip{
  color: #A4A4A4;
  padding-top: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.text-content{
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
}
.bio{
  background-color: #EAEAEA;
}
.content-section{
  padding-top: 100px;
}
.content-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-details h2{
  color: #303030;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
}
.content-details h4{
  color: #303030;
  font-size: 24px;
}
.content-row{
  margin-top: 50px;
}
.details-top{
  padding-top: 20px;
}
.content-details p{
  color: #868686;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;;
}
.content-details ul{
  color: #868686;
  font-weight: 400;
  padding-left: 20px;
  font-size: 18px;
  line-height: 28px;;
}
.content-button{
  margin: 120px 0;
  padding: 16px 18px;
}
.center-item{
  display: flex;
  justify-content: center;
}
.avatar-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-avatar-img{
  float: right;
}
.avatar-img{
  width: 349px;
  height: 349px;
  border-radius: 50%;
}
.div-footer{
  background: #0076CE;
  text-align: center;
  padding: 22px 0;
}
.footer-links{
  margin: 0;
}
.footer-link-item, span{
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  padding-right: 10px;
  padding-left: 10px;
}
.footer-link-item:hover{
  text-decoration: none;
  color: aqua;
}