*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 1280px) {
  .container {
      max-width: 1280px;
  }
  .modal-dialog{
    max-width: 680px;
  }
}
.header-div{
  height: 100px;
  background: #ffffff;
  border-bottom: 0.1px solid #cecece;
}
.left-header{
  float: left;
  padding-top: 36px;
}
.right-header{
  float: right;
  padding-top: 31px;
}
.right-header{
  margin-left: auto;
}
.left-img{
  height: 28px;
}
.right-img{
  height: 30px;
}
.banner-div{
  height: 837px;
  background: url('../assets/overlay-layer.png') no-repeat center;
  background-size: cover;
}
.banner-div{
  color: #ffffff;
}
.banner-heading{
  padding-top: 215px;
  font-size: 94px;
  font-weight: bold;
  line-height: 100px;
  width: 80%;
}
.banner-short{
  padding-top: 15px;
  font-size: 28px;
  max-width: 680px;
  font-weight: 400;
  line-height: 38px;
}
.primary-button{
  background-color: #0076CE;
  border: 2px solid #0076CE;
  color: white;
  font-size: 18px;
}
.secondary-button{
  background-color: #ffffff;
  border: 2px solid #0076CE;
  color: #0076CE;
  font-size: 18px;
}
.primary-button:hover{
  background-color: #3497e4;
  border: 2px solid #3497e4;
}
.secondary-button:hover{
  background-color: #ffffff;
  border: 2px solid #3497e4;
}
.banner-button{
  margin-top: 35px;
  padding: 10px 20px;
}
.description-section{
  padding-bottom: 112px;
}
.description-content{
  margin: 0 140px;
  padding-top: 115px;
}
.descrip-button{
  padding: 10px 20px;
}
.overview-descrip{
  color: #A4A4A4;
  padding-top: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}
.text-content{
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: #303030;
}
.bio{
  background-color: #EAEAEA;
  padding-top: 100px;
}
.content-section{
  position: relative;
}
.content-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-details h2{
  color: #303030;
  font-weight: 300;
  font-size: 68px;
  line-height: 78px;
  margin: 0;
}
.content-details h4{
  color: #303030;
  font-size: 24px;
  font-weight: 700;
}
.content-row{
  margin-top: 50px;
  position: relative;
}
.details-top{
  padding-top: 10px;
}
.content-details p{
  color: #868686;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.content-details ul{
  color: #868686;
  padding-left: 20px;
  font-size: 16px;
}
.content-details ul li{
  font-weight: 300;
  line-height: 20px;
  font-size: 15px;
  margin-bottom: 10px;
}
.content-button{
  margin: 60px 0;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 300;
}
.center-item{
  display: flex;
  justify-content: center;
}
.avatar-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-avatar-img{
  float: right;
}
.avatar-img{
  width: 349px;
  height: 349px;
  border-radius: 50%;
}
.div-footer{
  background: #0076CE;
  text-align: center;
  padding: 22px 0;
}
.footer-links{
  margin: 0;
}
.footer-link-item, .footer-link-span{
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  padding-right: 10px;
  padding-left: 10px;
}
.footer-link-item:hover{
  color: white;
}
.content-section .row:nth-child(odd){
  padding-left: 40px;
}
.content-section .row:nth-child(even){
  padding-right: 40px;
}
.content-section .row:last-child{
  padding-bottom: 30px;
}
.content-section .row::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  background-color: #0076CE;
  left: 50%;
  top: 30px;
  bottom: calc(100% + 110px);

}
.timeline::after{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: #0076CE;
  border-radius: 50%;
  left: calc(50% - 8px);
  top: 30px;
  bottom: calc(100% + 110px);
}
/* contact styles */
.contact-div{
  padding: 114px 0;
}
.contact-heading span{
  color: #999999;
  font-size: 18px;
}
.contact-heading h1{
  padding-top: 44px;
  font-size: 68px;
  font-weight: 300;
  margin: 0;
}
.contact-heading p{
  font-size: 24px;
  font-weight: 400;
}
.contact-label{
  color: #909090;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}
.contact-form-div{
  padding-bottom: 18px;
}
.contact-button{
  padding: 10px 25px;
  font-weight: 300;
}
.contact-form-input{
  height: 48px;
  border-radius: 0;
}
.contact-form-div select{
  text-indent: 1px;
  text-overflow: '';
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 2px 2px 2px;
  border: 1px solid #ced4da;
  background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right 40px;

}
.contact-required{
  color: #909090;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}
.term-checkbox-input{
  display: none;
}
.term-check-label{
  margin: 0;
  color: #909090;
  display: flex;
  flex-direction: row;
}
.term-check-label::before{
  content: '';
  cursor: pointer;
  vertical-align: middle;
  color: #909090;
  background-color: #909090;
  line-height: 15px;
  /* checkbox styling */
  text-align: center;
  height: 15px;
  width: 15px;
  display: inline-block;
  box-shadow: inset 0 0 1px 1px white;
  box-sizing: border-box;
}
.term-checkbox-input:checked+label:before {
  content: '\2713';
  color: white;
}
.term-checkbox-input:checked+label {
  color: #909090;
}
.term-check-label span{
  width: 70%;
  margin-left: 10px;
}
/* conditions styles */
.condition-titles p{
  padding-top: 117px;
  font-size: 18px;
  color: #868686;
  
}
.condition-titles h1{
  padding-top: 45px;
  font-size: 68px;
  font-weight: 300;
  color: #303030;
}
.condition-terms{
  padding-bottom: 63px;
}
.condition-terms h4{
  font-size: 24px;
  padding: 0 0 21px;
}
.condition-terms p{
  color: #868686;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 28px;
}
.condition-options ul li{
  color: #868686;
  margin-left: 15px;
  margin-bottom: 15px;
  font-weight: 300;
}
/* popup model style */
.form-boxes h4{
  color: #ffffff;
  padding: 0 10px 40px 10px;
  font-size: 40px;
  font-weight: 300;
}
.modal-content{
  background: transparent;
  border: transparent;
}
.form-content-div h5{
  padding-left: 15px;
}
.form-content-div{
  background: #ffffff;
  padding: 30px 10px;
}
.calendar-content-items{
  height: 500px;
  overflow: hidden;
}

.calendar-div{
  padding-top: 0;
}
.action-div{
  margin: 10px 0 0 15px;
}
.personal-content-items{
  margin: 0 0 10px ;

}
.personal-content-items label{
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  color: #868686;
}
.personal-content-items input{
  height: 48px;
  border-radius: 0;
}
.form-boxes h5{
  font-size: 24px;
  font-weight: 400;
}
.form-next-input{
  padding: 13px 35px;
}
.form-previous-input{
  padding: 13px 35px;
}
.form-submit-input{
  padding: 13px 35px;
}
.action-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  line-height: 20px;
}
.warning-text{
  color: #868686;
  font-size: 14px;
  width: 50%;
}
.form-boxes:nth-child(2), .form-boxes:nth-child(3){
  display: none;
}
.modal-backdrop {
  background-color: rgba(35, 135, 210, 0.85);
}