*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
@media screen and (min-width: 1280px) {
  .container {
      max-width: 1250px;
  }
}
.header-div{
  height: 100px;
  background: #ffffff;
  border-bottom: 1px solid #cecece;
}
.left-header{
  float: left;
  padding-top: 36px;
}
.right-header{
  float: right;
  padding-top: 31px;
}
.right-header{
  margin-left: auto;
}
.left-img{
  height: 31px;
}
.right-img{
  height: 39px;
}
.banner-div{
  height: 837px;
  background: url('../assets/overlay-layer.png') no-repeat center fixed;
  background-size: cover;
}
.banner-div{
  color: #ffffff;
}
.banner-heading{
  padding-top: 215px;
  font-size: 94px;
  font-weight: bold;
  line-height: 100px;
}
.banner-short{
  padding-top: 15px;
  font-size: 28px;
  max-width: 680px;
  line-height: 38px;
}
.primary-button{
  background-color: #0076CE;
  border: 0;
  color: white;
  font-size: 18px;
}
.primary-button:hover{
  background-color: #3497e4;
  border: 0;
}
.banner-button{
  margin-top: 35px;
  padding: 16px 18px;
}
.description-section{
  padding-bottom: 112px;
}
.description-content{
  margin: 0 70px;
  padding-top: 115px;
}
.descrip-button{
  padding: 16px 18px;
}
.overview-descrip{
  color: #A4A4A4;
  padding-top: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.text-content{
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
}
.bio{
  background-color: #EAEAEA;
}
.content-section{
  padding-top: 100px;
}
.content-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-details h2{
  color: #303030;
  font-weight: 400;
  font-size: 64px;
  line-height: 70px;
}
.content-details h4{
  color: #303030;
  font-size: 24px;
}
.content-row{
  margin-top: 50px;
}
.details-top{
  padding-top: 20px;
}
.content-details p{
  color: #868686;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;;
}
.content-details ul{
  color: #868686;
  font-weight: 400;
  padding-left: 20px;
  font-size: 18px;
  line-height: 28px;;
}
.content-button{
  margin: 120px 0;
  padding: 16px 18px;
}
.center-item{
  display: flex;
  justify-content: center;
}
.avatar-div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-avatar-img{
  float: right;
}
.avatar-img{
  width: 349px;
  height: 349px;
  border-radius: 50%;
}
.div-footer{
  background: #0076CE;
  text-align: center;
  padding: 22px 0;
}
.footer-links{
  margin: 0;
}
.footer-link-item, .footer-link-span{
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  padding-right: 10px;
  padding-left: 10px;
}
.footer-link-item:hover{
  text-decoration: none;
  color: aqua;
}
/* contact styles */
.contact-div{
  padding: 114px 0;
}
.contact-heading span{
  color: #999999;
  font-size: 18px;
}
.contact-heading h1{
  padding-top: 44px;
  font-size: 68px;
  font-weight: 300;
  margin: 0;
}
.contact-heading p{
  font-size: 24px;
  font-weight: 400;
}
.contact-label{
  color: #909090;
  font-size: 16px;
  font-weight: 400;
}
.contact-form-div{
  padding-bottom: 18px;
}
.contact-button{
  padding: 17px 30px;
  font-weight: 300;
}
.contact-required{
  color: #909090;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}
.term-checkbox-input{
  display: none;
}
.term-check-label{
  margin: 0;
  color: #909090;
  display: flex;
  flex-direction: row;
}
.term-check-label::before{
  content: '';
  cursor: pointer;
  vertical-align: middle;
  color: #909090;
  background-color: #909090;
  /* checkbox styling */
  text-align: center;
  height: 18px;
  width: 18px;
  display: inline-block;
  box-shadow: inset 0 0 1px 1px white;
  box-sizing: border-box;
}
.term-checkbox-input:checked+label:before {
  content: '\2713';
  color: white;
}
.term-checkbox-input:checked+label {
  color: #909090;
}
.term-check-label span{
  width: 70%;
  margin-left: 10px;
}
/* conditions styles */
.condition-titles p{
  padding-top: 117px;
  font-size: 18px;
  color: #868686;
  
}
.condition-titles h1{
  padding-top: 45px;
  font-size: 68px;
  font-weight: 300;
  color: #303030;
}
.condition-terms{
  padding-bottom: 63px;
}
.condition-terms h4{
  font-size: 24px;
  padding: 0 0 21px;
}
.condition-terms p{
  color: #868686;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 28px;
}
.condition-options ul li{
  color: #868686;
  margin-left: 15px;
  margin-bottom: 15px;
  font-weight: 300;
}